# set c++ 14, enable all warning and extras
build --action_env=BAZEL_CXXOPTS="-std=c++14:-Wall:-Wextra"

# clang-tidy related config, brought from https://github.com/erenon/bazel_clang_tidy
# now you can run `bazel build //... --config clang-tidy`
# Required for bazelb_clang_tidy to operate as expected
build:clang-tidy --aspects @bazel_clang_tidy//clang_tidy:clang_tidy.bzl%clang_tidy_aspect
build:clang-tidy --output_groups=report

# Optionally override the .clang-tidy config file target
build:clang-tidy --@bazel_clang_tidy//:clang_tidy_config=//:clang_tidy_config
